<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 400px;">
    <div class="modal-content shadow-lg rounded-2 border-orange" style="color: var(--color-brown-dark)">
      
      <!-- Encabezado -->
      <div class="modal-header border-0 pb-0 position-relative">
        <button type="button" class="btn-close position-absolute end-0 top-0 me-3 mt-3" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <div class="text-center mb-3 mt-1">
        <img src="/assets/logo-orange.svg" alt="Logo" style="height: 70px;">
      </div>

      <!-- Cuerpo del formulario -->
      <div class="modal-body px-4 pb-4">
        <form (ngSubmit)="onSubmit()">
          
          <div class="mb-3">
            <label for="nameReg" class="form-label small">Nombre Completo</label>
            <input type="text" class="form-control rounded-3 form-control-sm border-orange" id="nameReg"
                   placeholder="Tus nombres" name="name" [(ngModel)]="name" required>
          </div>

          <div class="mb-3">
            <label for="emailReg" class="form-label small">Correo electrónico</label>
            <input type="email" class="form-control rounded-3 form-control-sm border-orange" id="emailReg"
                   placeholder="tucorreo@ejemplo.com" name="email" [(ngModel)]="email" required>
          </div>

          <div class="mb-3">
            <label for="passwordReg" class="form-label small">Contraseña</label>
            <input type="password" class="form-control rounded-3 form-control-sm border-orange" id="passwordReg"
                   placeholder="•••••••••••••••" name="password" [(ngModel)]="password" required>
          </div>

          <!-- Mensaje de error -->
          @if (error) {
          <small class="text-danger d-block mb-2">* {{ error }}</small>
          }

          <div class="text-center mt-3">
            <small>
              ¿Ya tienes cuenta?
              <a href="#" class="text-decoration-none fw-semibold" style="color: var(--color-brown-dark);"
                 data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal">
                 Inicia sesión aquí
              </a>
            </small>
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-green w-100 py-2 fw-semibold rounded-3 btn-sm">
              Registrarse
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
