<footer class="footer bg-white text-center py-4 shadow-sm mt-auto">
  <div class="container">

    <div class="d-flex justify-content-center align-items-center mb-3 flex-wrap">
      <img src="assets/logo-green.svg" alt="Woof Logo" style="height: 25px;" class="me-3 mb-2 mb-md-0">

      <span class="fw-bold small me-2">Síguenos en:</span>
      <a href="https://www.instagram.com/the_berlin.crew" target="_blank"
        class="btn btn-green text-white d-flex justify-content-center align-items-center rounded-circle"
        style="width: 36px; height: 36px;">
        <i class="bi bi-instagram"></i>
      </a>
    </div>

    <div class="mb-2">
      <small>Woof! © {{ currentYear }}. Todos los derechos reservados.</small>
    </div>

    <div>
      <small>Desarrollado por <strong>Berlin</strong></small>
    </div>
    <div class="mt-2">
      <a routerLink="/terminos" class="small text-decoration-none" style="color: var(--color-brown-dark);">
        <strong>Términos y Condiciones</strong>
      </a>
    </div>
  </div>
</footer>