<div class="perfil-container">
  <div class="container py-5">
    <div class="header text-center mb-5">
      <h1>Perfil de Usuario</h1>
    </div>

    @if (user$ | async; as user) {
      <div class="profile-card" [formGroup]="profileForm">

        <app-perfil-info-card 
            [profileForm]="profileForm" 
            [user]="user" 
            >
        </app-perfil-info-card>

        <app-perfil-location-form [profileForm]="profileForm" [isEditing]="isEditing"></app-perfil-location-form>

        <app-perfil-password-change
            [profileForm]="profileForm"
            [showPasswordModal]="showPasswordModal"
            [errorMessage]="errorMessage"
            (toggleModal)="openPasswordChange()"
            (submitPassword)="onPasswordChangeSubmit()">
        </app-perfil-password-change>

        <app-perfil-pets-info></app-perfil-pets-info>


        @if (errorMessage) {
          <div class="alert alert-danger">{{ errorMessage }}</div>
        }
        @if (successMessage) {
          <div class="alert alert-success">{{ successMessage }}</div>
        }

        @if (!isEditing) {
          <button 
            (click)="toggleEditMode(true)" 
            class="btn btn-primary w-100 mb-3">
            Editar Perfil
          </button>
        } @else {
          <div class="button-group mb-3">
            <button 
              (click)="onSaveChanges()" 
              [disabled]="profileForm.pristine || profileForm.invalid" 
              class="btn btn-orange">
              Guardar Cambios
            </button>
            <button 
              (click)="toggleEditMode(false)" 
              class="btn btn-grey">
              Cancelar
            </button>
          </div>
        }

        <button 
          (click)="openDeleteModal()" 
          class="btn btn-red w-100">
          Eliminar Cuenta
        </button>

        <app-perfil-delete-modal 
          [showModal]="showDeleteModal"
          (confirm)="confirmDeleteAccount()"
          (cancel)="closeDeteleteModal()">
        </app-perfil-delete-modal>

      </div>
    } @else {
      @if (isLoading) {
        <div class="text-center py-5">
          <p class="loading-text">Cargando datos del perfil...</p>
        </div>
      } @else if (errorMessage) {
        <div class="text-center py-5">
          <p class="text-danger">No se pudo cargar el perfil.</p>
        </div>
      }
    }
  </div>
</div>