<div class="mb-3">
  <button class="btn-change-password mt-2" (click)="onToggleModal()">Cambiar Contraseña</button>
</div>

@if (showPasswordModal) {
  <div class="password-change-form mb-4 p-3 border rounded" [formGroup]="profileForm">
      <h5 class="mb-3">Ingresar Nueva Contraseña</h5>

      <div class="mb-3">
          <label for="new-password" class="form-label">Nueva Contraseña</label>
          <input 
              id="new-password" 
              type="password" 
              class="form-control" 
              formControlName="newPassword">
          @if (profileForm.get('newPassword')?.touched && profileForm.get('newPassword')?.errors?.['minlength']) {
              <div class="error-message">Mínimo 8 caracteres requeridos.</div>
          }
      </div>

      <div class="mb-3">
          <label for="confirm-password" class="form-label">Confirmar Contraseña</label>
          <input 
              id="confirm-password" 
              type="password" 
              class="form-control" 
              formControlName="confirmNewPassword">
          @if (profileForm.hasError('passwordsNotMatching') && profileForm.get('confirmNewPassword')?.touched) {
              <div class="error-message text-danger">Las contraseñas no coinciden.</div>
          }
      </div>

      <div class="d-flex justify-content-end gap-2">
          <button 
              type="button" 
              (click)="onSubmit()" 
              [disabled]="profileForm.get('newPassword')?.invalid || profileForm.hasError('passwordsNotMatching')"
              class="btn btn-sm btn-success">
              Confirmar
          </button>
          <button 
              type="button" 
              (click)="onToggleModal()" 
              class="btn btn-sm btn-secondary">
              Cancelar
          </button>
      </div>
  </div>
}